[submodule "dependencies/forge-docs"]
	path = dependencies/forge-docs
	url = https://github.com/ArcBlock/forge-docs.git
[submodule "dependencies/forge-tutorials"]
	path = dependencies/forge-tutorials
	url = https://github.com/ArcBlock/forge-tutorials.git
[submodule "dependencies/accelerator"]
	path = dependencies/accelerator
	url = git@github.com:ArcBlock/accelerator.git
[submodule "dependencies/forge-cli-handbook"]
	path = dependencies/forge-cli-handbook
	url = https://github.com/ArcBlock/forge-cli-handbook.git
[submodule "dependencies/abtnode-docs"]
	path = dependencies/abtnode-docs
	url = git@github.com:ArcBlock/abtnode-docs.git
